body {
  background-color: #1a1d29;
  padding: 40px;
  overflow: hidden;
}

.container {
  padding: 20px;
}

.container-title {
  color: #cacaca;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.11px;
  line-height: 1.4;
}

.content-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.content-row::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit (Safari and Chrome) */
}

img {
  border-radius: 8px;
}

button {
  all: unset;
}

.tile {
  padding: 15px;
}

.focused {
  transform: scale(1.05, 1.05) translateZ(0) translate3d(0, 0, 0);
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  cursor: pointer;
  border-radius: 1px;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure the modal appears above other content */
  padding: 20px;
  border-radius: 10px;
  color: white;
  /* background-color: #1a1d29; */
  height: 400px;
  width: 600px;
}

.modal-content {
  max-width: 80vw;
  max-height: 80vh;
  display: block;
  margin: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.766
  ); /* Semi-transparent black background */
  z-index: 9998; /* Ensure the overlay appears below the modal */
}

.default-image-text {
  position: absolute;
  color: white;
  margin: 20px;
}

.default-image-container {
  position: relative;
}

.modal-img {
  height: 400px;
}

.modal-div {
  position: absolute;
  padding: 10px;
}

.error-page {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.11px;
  line-height: 1.4;
  text-align: center;
}
